

<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            {% if article.ar_image|length %}
                <img alt="" src="{{ article.ar_image.one().getUrl('default') }}">
            {% endif %}
        </figure>
    </div>
    <div class="card-content">
        <div class="content">
            <h3><a href="/article/{{ article.slug }}">{{ article.title }}</a></h3>
            <p>{{ article.text|raw|striptags|slice(0, 200) }}&hellip;</p>

            <div class="tags">

                {% for topic in article.topics.all() %}
                    <span class="tag is-success">
                        {{ topic }}
                    </span>
                {% endfor %}

                {% for phaseOfLife in article.phasesOfLife.all() %}
                    <span class="tag is-info">
                        {{ phaseOfLife }}
                    </span>
                {% endfor %}

                {% for region in article.regions.all() %}
                    <span class="tag is-warning">
                        {{ region }}
                    </span>
                {% endfor %}

            </div>

            <nav class="level is-mobile">
                <div class="level-left">
                    <a aria-label="like" class="level-item">
                        <span class="icon is-small">
                            <i aria-hidden="true" class="fas fa-heart"></i>
                        </span>
                    </a>

                    {{ craft.upvote.upvote(article.id) }}&nbsp;&nbsp;{{ craft.upvote.tally(article.id) }}
                </div>
            </nav>
        </div>
    </div>
</div>
