<div class="box">
    <article class="">

        <div class="content">

            <h3><a href="/events/{{ event.slug }}">{{ event.title }}</a></h3>
            <small>{{ event.ev_date|date('d. M Y') }}</small>


            <div class="tags">

                {% for topic in event.topics.all() %}
                    <span class="tag is-success">
                        {{ topic }}
                    </span>
                {% endfor %}

                {% for phaseOfLife in event.phasesOfLife.all() %}
                    <span class="tag is-info">
                        {{ phaseOfLife }}
                    </span>
                {% endfor %}

                {% for region in event.regions.all() %}
                    <span class="tag is-warning">
                        {{ region }}
                    </span>
                {% endfor %}

            </div>

        </div>
        <nav class="level is-mobile">
            <div class="level-left">
                <a aria-label="like" class="level-item" href="/events/{{ event.slug }}">
                    Jetzt anmelden
                </a>
            </div>
        </nav>
    </article>
</div>
